.nav-link {
  position: relative;
  display: inline-block;
  font-size: 1rem;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: yellow;
  transition: width 0.3s ease;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
}

/* Mobile Specific Styles */
@media (max-width: 640px) {
  .nav-link {
    font-size: 1.25rem; /* Increase font size for better readability */
  }
}
